<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Website Templet Example</title>
    <meta name="keywords" content="keyword1, keyword2, keyword3 ">
    <meta name="description" content="website to give examples of different CSS layout styles">
    <meta name="author" content="William Langley">
    <meta name="viewport" content="width=device=width,initial-scale=1.0">
    <link rel="stylesheet" href="stylesprojectgrid.css">
  </head>
  <body>
    <header class="zone green">
      <nav>
        <ul class="main-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Contact</a></li>
      </ul>
      </nav>
    </header>

    <div class="zone red flexContainer">Cover

    </div>

    <div class="zone blue grid-wrapper">
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
      <div class="box red">
        <img src="images/pic1.jpg" alt="">
      </div>
    </div>

    <footer class="zone orange">footer

    </footer>

  </body>
</html>
