.grid {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr ;
  grid-row-gap: 20px;
}

.grid header nav ul {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  list-style: none;
}

.grid header nav ul li {
  display: inline-block;
}

.grid a {
  text-decoration: none;
  text-transform: uppercase;
}

main {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-row-gap:20px;
}

main section.introduction {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: minmax(250px,1fr);
  grid-gap: 20px;
}
.introleft {
  background: powderblue
}
section.info  {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}
footer {

}
img {
  max-width: 100%;
}
